.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #111827;
  padding: 24px;
}

.sidebar h2 {
  margin-top: 0;
  
}

.sidebar p {
  margin: 24px 0;
  cursor: pointer;
  padding: 12px 0;
}

.app {
  display: flex;
}